@import url('https://fonts.googleapis.com/css2?family=Edu+TAS+Beginner&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap');

body{
    background: #05ec97;
}

.container{
    margin: auto;
    padding: 0;
    width: fit-content;
    display: flex;
    color: rgb(0, 0, 0);
}


.input{
    margin: 0 50px;
}

h3{
    font-size: 26px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.input textarea{
    background: #0be7e0;
    border-radius: 5px;
    color: #000000;
    width: 35vw;
    padding: 20px;
    height: 500px;
    outline: none;
    border: 2px solid #ffff02;
    font-size: 28px;
    font-family: 'Edu TAS Beginner', cursive;
    font-weight: bold;
    box-shadow: 1px 1px 10px 10px #1a53aa65;
    transition: 0.5s all;
}

.input textarea:hover{
    font-size: 40px;
    font-weight: bolder;

}

.output {
    width: 30vw;
}

.output .output-text{
    font-size: 28px;
    background: #9203ea;
    padding: 10px 16px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px #3d3d3da9;
    height: 530px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    transition: 0.5s all;
}

.output:hover .output-text:hover{
    font-size: 40px;
}
